@model IList<InvoiceTest.ViewModels.DetailsVm>
@for (int i = 0; i < Model.Count(); i++)
{
    <tr>
        <td><input asp-for="@Model[i].ItemName" class="form-control" /></td>
        <td><input asp-for="@Model[i].Price" class="form-control" /></td>
        <td><input asp-for="@Model[i].Quantity" class="form-control" /></td>
        <td><input asp-for="@Model[i].Discount" class="form-control" /></td>
        <td><input asp-for="@Model[i].Total" class="form-control" /></td>
        <td>
            <button type="button" class="btn btn-danger btn-circle btn-sm deleteBtn">X</button>
        </td>
    </tr>
}
