@model InvoiceTest.ViewModels.CreateInvoiceVm


@section Styles{

    <link href="~/css/select2.min.css" rel="stylesheet" />
}


<form method="post" asp-controller="Invoices" asp-action="Create">
    @*<input type="hidden" asp-for="GrandTotal" id="grandTotalHidden"/>*@
    <div class="row">
        <div class="col">
            <label>Invoice Number</label>
            <input type="text" class="form-control" asp-for="InvoiceNumber" placeholder="Invoice Number" id="invoiceNumber">
        </div>
        <div class="col">
            <label>Invoice Date</label>
            <input type="datetime" class="form-control datepaker" placeholder="Invoice Date" asp-for="InvoiceDate">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Customer Name</label>
            <select asp-for="CustomerId" asp-items=@(new SelectList(Model.Customers,"Id","Name")) class="form-control">
                <option></option>
            </select>
        </div>
        <div class="col">
            <label>Branch Name</label>
                        <select asp-for="BrancheId" asp-items=@(new SelectList(Model.Branches,"Id","Name")) class="form-control">
                <option>
                </option>
            </select>
        </div>
    </div>
    <br />
    <div>
        <div class="actions">
            <button type="button" class="btn btn-primary" id="addNew">Add Item</button>
        </div>

        <br />
        <br />
        <table class="table" id="mainTable">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Details[0].ItemName)</th>
                    <th>@Html.DisplayNameFor(m => m.Details[0].Price)</th>
                    <th>@Html.DisplayNameFor(m => m.Details[0].Quantity)</th>
                    <th>@Html.DisplayNameFor(m => m.Details[0].Discount)</th>
                    <th>@Html.DisplayNameFor(m => m.Details[0].Total)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tabBody">
                
                   
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td><b>Total Price</b></td>
                    <td><input type="number" asp-for="GrandTotal" readonly id="GrandTotal" class="form-control GrandTotal" name="GrandTotal" ></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <input type="submit" class="form-control btn btn-primary" value="Save" />
</form>






@section Scripts{
    <script src="~/js/Row.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script>

        $(function() {

            $('.datepaker').datepicker({
                format: 'mm/dd/yyyy',
                startDate: '-3d'
            });

            $('Select').select2({
                selectOnClose: true
            });

          
             
        });


            $('#invoiceNumber').change(function () {
                var Number = $(this).val();
                $('#tabBody').load("Invoices/GetDetails?InvoiceNumber="+Number);
        });



        function CalculateGrandTotal() {
            var grandtotal = 0.0;

            $('.Total').each(function () {

                grandtotal += +$(this).val();
            });

            return grandtotal;
        }



        $("#tabBody").on('click', '.deleteBtn', function () {
            $(this).closest('tr').remove();
            $('#GrandTotal').val(CalculateGrandTotal());
            
            /*$('#grandTotalHidden').val(CalculateGrandTotal());*/
        });


        $("#tabBody").on('input', '.Quantity', function () {
            var quantity = $(this).val();
            var price = $(this).parents('tr').find('.Price').val();
            $(this).parents('tr').find('.Total').val(quantity * price);
            $('#GrandTotal').val(CalculateGrandTotal());
           /* $('#grandTotalHidden').val(CalculateGrandTotal());*/
        });


        $('#tabBody').on('input', '.Discount', function () {
            var Discount = $(this).val();
            var PriceBefore = $(this).parents('tr').find('.Price').val();
            var quantity = $(this).parents('tr').find('.Quantity').val();
            if (Discount != 0) {
                if (Discount >= 100) {
                    $(this).parents('tr').find('.Total').val(0);
                } else {
                    var PriceAfter = PriceBefore * (Discount / 100);
                    var FinalPrice = PriceBefore - PriceAfter;
                    $(this).parents('tr').find('.Total').val(quantity * FinalPrice);
                }

            }
            else {


                $(this).parents('tr').find('.Total').val(quantity * PriceBefore);


            }
            $('#GrandTotal').val(CalculateGrandTotal());
           /* $('#grandTotalHidden').val(CalculateGrandTotal());*/
        });


        $('#tabBody').on('input', '.Price', function () {
            var price = $(this).val();
            var quantity = $(this).parents('tr').find('.Quantity').val();
            var Discount = $(this).parents('tr').find('.Discount').val()
            if (quantity) {
                if (Discount) {
                    var PriceAfterDiscount = price * (Discount / 100);
                    var FinalPrice = price - PriceAfterDiscount;
                    $(this).parents('tr').find('.Total').val(quantity * FinalPrice);
                }
                else {

                    $(this).parents('tr').find('.Total').val(quantity * price);
                }
            }
            $('#GrandTotal').val(CalculateGrandTotal());
          /*  $('#grandTotalHidden').val(CalculateGrandTotal());*/
        });


        $("#addNew").click(function (e) {
            //Old Code 
            //$("#tabBody").append(addRow($("#tabBody tr").length));
          
            var builder = $(addRow($("#tabBody tr").length));
            let $selector = builder.find("select");
            $.getJSON("Invoices/GetItems", function (result) {
                $.each(result, function (index, itemData) {
                    $($selector).append(`<option value=${itemData.id}>${itemData.name} </option>`);
                });
                $("#tabBody").append(builder);
            });
           
        });




    </script>

}



